<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book detail</title>
</head>
<body>
    Book detail |<a href="{% url 'Book:Bookpage' %}">Home</a> | <a href="{% url 'Book:Booklistpage' %}">Book list</a><a href="{% url 'Book:Addbookpage' %}">Add new Book</a><br>
    <br><br><br>
    {{ book.book_name }}<br>
    {{ book.book_price }}<br>
    <img src="{{book.book_image.url}}" sizes="100px" width="100px">
</body>
</html>